[submodule "fftf"]
  path = fftf
  branch = master
  url = ssh://alserver.rnd.samsung.ru:29418/FFTF.git
[submodule "simd"]
  path = simd
  branch = master
  url = ssh://alserver.rnd.samsung.ru:29418/Simd.git
[submodule "DSPFilters"]
  path = DSPFilters
  branch = master
  url = https://github.com/vmarkovtsev/DSPFilters
