[submodule "fftf"]
  path = fftf
  branch = master
  url = https://github.com/vmarkovtsev/FFTF.git
[submodule "simd"]
  path = simd
  branch = master
  url = https://github.com/vmarkovtsev/veles.simd.git
[submodule "DSPFilters"]
  path = DSPFilters
  branch = master
  url = https://github.com/vmarkovtsev/DSPFilters
